/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  /* Palette */
  --primary-red: #ff3333;
  --red-900: rgba(255, 51, 51, 0.9);
  --red-500: rgba(255, 51, 51, 0.5);
  --red-300: rgba(255, 51, 51, 0.3);

  --primary-blue: #1d84b5;
  --blue-900: rgb(29, 132, 181, 0.9);
  --blue-500: rgb(29, 132, 181, 0.5);
  --blue-300: rgba(5, 53, 75, 0.3);

  --primary-black: #1f1f1f;
  --black-900: rgb(31, 31, 31, 0.9);
  --black-500: rgb(31, 31, 31, 0.5);
  --black-300: rgb(31, 31, 31, 0.3);

  --dark-background: #30343f;
  --bright-background: #fafaff;
  --bright-font: #ffffff;

  /* Typography */
  --main-font: "Inter", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Fonts-sizes */
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;

  /* Spacings */
  --spacings-128: 12.8rem;
  --spacings-68: 6.8rem;
  --spacings-36: 3.6rem;
  --spacings-28: 2.8rem;
  --spacings-24: 2.4rem;
  --spacings-20: 2rem;
  --spacings-16: 1.6rem;
  --spacings-12: 1.2rem;
  --spacings-8: 0.8rem;
}

/* Tags and Initial Setup*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: 62.5%;
  color: var(--dark-background);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header,
footer {
  font-family: var(--secondary-font);
  color: var(--bright-font);
  background-color: var(--dark-background);
}

ul,
ol {
  list-style-type: none;
  color: var(--bright-font);
}

p {
  font-size: var(--font-medium);
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  padding: var(--spacings-36);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  max-width: 300px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacings-20);
}

.navbar__link {
  font-size: var(--font-medium);
  padding: var(--spacings-8) var(--spacings-16);
  display: inline-block;
  transition: background.3s ease-in-out;
  position: relative;
}

.navbar__link:hover {
  background-color: var(--red-900);
}

.with-icon {
  display: flex;
  align-items: center;
  gap: var(--spacings-8);
}

.with-submenu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  width: 300px;
  position: absolute;
  background-color: var(--dark-background);
  z-index: 3;
}

.submenu__link {
  display: block;
  padding: var(--spacings-8) var(--spacings-16);
  font-size: var(--font-medium);
  transition: background.3s ease-in-out;
}

.submenu__link:hover {
  background-color: var(--red-900);
}

/* Banner */
.banner {
  background-image: url(../img/funkos-banner.webp);
  padding: var(--spacings-128);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.banner::before {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px) brightness(0.9);
}

.banner__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-20);
  align-items: start;
  z-index: 1;
  position: relative;
}

.banner__title {
  font-family: var(--secondary-font);
  font-size: var(--font-jumbo);
  color: var(--bright-background);
}

.banner__text {
  font-family: var(--secondary-font);
  font-size: var(--font-medium);
  color: var(--bright-background);
}

.banner__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--bright-background);
  padding: var(--spacings-12) var(--spacings-68);
  border-radius: 50px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.banner__link:hover {
  background-color: var(--red-900);
  color: var(--bright-background);
}

/* Shopping Items Collections */
.collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: var(--spacings-16) 0;
}

.collection:nth-child(2) .collection__cover {
  order: -1;
}

.collection__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacings-24);
  align-items: start;
}

.collection__title {
  font-family: var(--secondary-font);
  font-size: var(--font-display);
  font-weight: 500;
}

.collection__text {
  font-family: var(--secondary-font);
  font-size: var(--font-large);
  font-weight: 300;
  border-bottom: 2px solid var(--primary-red);
  padding-bottom: var(--spacings-20);
}

.collection__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--dark-background);
  border-radius: 50px;
  color: var(--bright-background);
  padding: var(--spacings-16) var(--spacings-36);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.collection__link:hover {
  background-color: var(--primary-red);
}
