/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  /* Palette */
  --primary-red: #ff3333;
  --red-900: rgba(255, 51, 51, 0.9);
  --red-500: rgba(255, 51, 51, 0.5);
  --red-300: rgba(255, 51, 51, 0.3);

  --primary-blue: #1d84b5;
  --blue-900: rgb(29, 132, 181, 0.9);
  --blue-500: rgb(29, 132, 181, 0.5);
  --blue-300: rgba(5, 53, 75, 0.3);

  --primary-black: #1f1f1f;
  --black-900: rgb(31, 31, 31, 0.9);
  --black-500: rgb(31, 31, 31, 0.5);
  --black-300: rgb(31, 31, 31, 0.3);

  --dark-background: #30343f;
  --bright-background: #fafaff;
  --bright-font: #ffffff;

  /* Typography */
  --main-font: "Inter", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Fonts-sizes */
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;

  /* Spacings */
  --spacings-128: 12.8rem;
  --spacings-68: 6.8rem;
  --spacings-36: 3.6rem;
  --spacings-28: 2.8rem;
  --spacings-24: 2.4rem;
  --spacings-20: 2rem;
  --spacings-16: 1.6rem;
  --spacings-12: 1.2rem;
  --spacings-8: 0.8rem;
}

/* Tags */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: 62.5%;
  color: var(--dark-background);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header,
footer {
  font-family: var(--secondary-font);
  color: var(--bright-font);
  background-color: var(--dark-background);
}

header {
  padding: var(--spacings-36);
}

ul,
ol {
  list-style-type: none;
  color: var(--bright-font);
}

p {
  font-size: 1.8em;
}

img {
  width: 100%;
}

/* Classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  max-width: 300px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacings-20);
}

.navbar__link {
  font-size: var(--font-medium);
  padding: var(--spacings-8) var(--spacings-16);
  display: inline-block;
  transition: background.3s ease-in-out;
  position: relative;
}

.navbar__link:hover {
  background-color: var(--red-900);
}

.with-icon {
  display: flex;
  align-items: center;
  gap: var(--spacings-8);
}

.with-submenu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  width: 300px;
  position: absolute;
  background-color: var(--dark-background);
}

.submenu__link {
  display: block;
  padding: var(--spacings-8) var(--spacings-16);
  font-size: var(--font-medium);
  transition: background.3s ease-in-out;
}

.submenu__link:hover {
  background-color: var(--red-900);
}
